<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Company1URL" value="https://firstcompanyapisdb.azurewebsites.net/"/>
		<add key="Company1RequestURI" value="api/Pricing"/>
		<add key="Company2URL" value="https://secondcompanyjsonapisdb.azurewebsites.net/"/>
		<add key="Company2RequestURI" value="api/Consignment"/>
		<add key="Company3URL" value="https://thirdcompanyxmlapisdb.azurewebsites.net/"/>
		<add key="Company3RequestURI" value="api/Quote"/>
	</appSettings>
</configuration>